<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcf2d58KjDI3jJEMemLk9avCORydnWiGo</string>
	<key>GCM_SENDER_ID</key>
	<string>416690321865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driveTestapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testdriveapp-c2cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>testdriveapp-c2cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416690321865:ios:cf5d51ef4b625d71e41018</string>
</dict>
</plist>